* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  line-height: 1.5;
}
body {
  padding: 4% 3%;
  font-family: 'Argesta Text', serif;
  color: #121212;
  max-width: 50rem;
  font-weight: 300;
  margin: 0 auto;
}

h1 {
  font-family: 'Argesta Headline', serif;
  text-align: center;
  font-weight: 400;
  font-size: 4rem;
  line-height: 1.2;
}
p {
  /* max-width: 95%; */
  margin: 0 auto 1.5rem;
}

article {
  margin-top: 2rem;
}
